/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Poppins:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* style*/
a { -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
    ;text-decoration:none;color: #2c2c2c;
  }
a:hover {
  color: #fd6500;
  text-decoration: none;
  }

/**/
.header-area {
    padding-bottom: 5px;
  }
  .bg-gray{
    background: #F3F3F3;
  }
.logo {
    margin-top: 10px;
    margin-bottom:10px;
  }
.header-main-content {
    justify-content: flex-end;
  }
.header-main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  }

.main-menu-area li {
    display: inline-block;
    position: relative;
  }  

  .main-menu-area ul > li > a {
    color: #000000;
    display: block;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    padding: 40px 15px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .main-menu-area ul > li:first-child > a{padding-left: 0;}
  .main-menu-area ul > li:hover a {
    color: #fd6500;
    }


  .main-menu ul li ul.sub-menu.no_mega_menu {
     background: #000000 none repeat scroll 0 0;
     border-top: 0 none;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
     opacity: 0;
     padding: 20px;
     position: absolute;
     text-align: left;
     top: 110px;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     visibility: hidden;
     width: 225px;
     z-index: 9999;
    }

    .main-menu-area ul > li .sub-menu{
      background: #000000 none repeat scroll 0 0;
      border-top: 0 none;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      opacity: 0;
      padding: 20px;
      position: absolute;
      text-align: left;
      top: 110px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      visibility: hidden;
      width: 225px;
      z-index: 9999;
    }

    

  .main-menu-area ul > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    top: 100%;
  }



  .main-menu-area ul > li .sub-menu > li {
    padding: 5px 20px;
    position: relative;
    display: block;
  }
  .main-menu-area ul > li .sub-menu > li a {
    border: medium none;
    color: #ffffff;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0;
    text-transform: initial;
  }
  .main-menu-area ul > li .sub-menu > li a:hover {
    color: #fd6500;
  }


.mfain-menu-area ul > li > a {
    padding: 40px 10px;
  } 
  .zoom {
    transition: transform .2s; 
    display: block;
    margin-left: 35px;
}
 
.zoom:hover {
    transform: scale(1.5); 
}
  





.right-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 35px ;
  }



.right-box {
    margin-top: 34px;
  }  
.top-login-inner > a {
    font-size: 14px;
    line-height: 34px;
  }
  .top-login-inner > a i {
    font-size: 16px;
  }
.page-foot {
    color: #9b9b9b;
  }
.letter{
  color: #fd6500;
}
.text-left {
		text-align: left;
	}
.bg-gray-darker {
    background: #23201e;
    fill: #23201e;
  }
.footer-area {
    padding-bottom: 20px;
    margin-top: 0px;
  }
.section-area{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*user-register*/
.register-area h2 {
  font-size: 21px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.register-area .customer-login {
  border: 1px solid #d3ced2;
  border-radius: 0px;
  margin: 2em 0;
  padding: 20px;
  text-align: left;
}
.register-area .form-row label {
  color: #333333;
  display: block;
  font-family: poppins;
  line-height: 1;
  margin: 0 0 10px;
}
.register-area .form-row label .required {
  color: #ff0000;
}
.form-row input {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  height: 42px;
  padding: 0 0 0 10px;
  width: 100%;
}
.submit-button {
  background: #fd6500 none repeat scroll 0 0;
  border: medium none;
  border-radius: 100px;
  color: #ffffff;
  display: inline-block;
  font-family: poppins;
  font-weight: 400;
  line-height: 15px;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.submit-button:hover {
  background: #000 none repeat scroll 0 0;
}

.section-1{
	padding-top: 40px;
	padding-bottom: 20px;
  text-align: center;
}

.text-center {
	text-align: center;
}
.text-italic {
	font-style: italic;
}


/*banner*/

.bg-img-1{
	background-size: cover;
}
.bg-img-1{
background-image: url("../img/image7.jpg");
	background-attachment: fixed;
}
.parallax-container {
	position: relative;
	overflow: hidden;
}
.text-italic2 {
	font-style: italic;
  text-align: center;
  color: #e5e5e5;
  font-size: 50px;
  font-weight: 500;
}
.banner{
  margin-top: 200px;
  margin-bottom: 200px;
}
.strong{
  font-weight: 500;
}

.img-circle {
	border-radius: 50%;
}

.team-description{
  margin-top: 5px;
}
.team-description h6{
  font-weight: bold;
  font-size: 20px;
}

.image-profile{
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}
.mine-cart-box {
  padding: 0 25px 0 30px;
}
.mine-cart-box > a {
  display: inline-block;
  font-size: 16px;
  line-height: 33px;
  position: relative;
}
.mine-cart-box {
  position: relative;
}
#cart-total {
  background: #fd6500 none repeat scroll 0 0;
  border-radius: 100%;
  color: #ffffff;
  float: right;
  font-family: poppins;
  font-size: 10px;
  font-weight: 500;
  height: 18px;
  line-height: 18px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  top: 3px;
  width: 18px;
}
.mine-cart-box ul.mini-cart {
  background: #ffffff none repeat scroll 0 0;
  max-height: 410px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  overflow: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 320px;
  z-index: 99999;
  top: 150%;
}
.mine-cart-box:hover ul.mini-cart {
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top: 100%;
}
.mine-cart-box ul.mini-cart .cart-item {
  list-style: outside none none;
  overflow: hidden;
  padding-bottom: 15px;
}
.mini-cart li.cart-item .cart-image {
  border: 1px solid #f1f1f1;
  display: block;
  float: left;
  width: 100px;
}
.mini-cart li.cart-item .cart-title {
  float: left;
  padding-left: 15px;
  width: 60%;
}
.mini-cart li.cart-item .cart-title h4{
  color: #000000;
  display: block;
  font-family: poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 9px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.mini-cart li.cart-item .cart-title a:hover h4{
  color: #fd6500;
}
.mini-cart li.cart-item .cart-title .quantity {
  color: #969696;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}
.mini-cart li.cart-item .price-box {
  color: #fd6500;
  font-family: poppins;
  font-size: 14px;
  font-weight: 600;
}
.cart-title .remove_from_cart {
  color: #444444 !important;
  display: inline;
  float: right;
  font-size: 15px;
  margin-top: 4px;
  text-align: right;
}
.cart-title .remove_from_cart:hover {
  color: #fd6500 !important;
}
.mini-cart li .subtotal-titles {
  padding-top: 15px
}
.mini-cart li .subtotal-titles h3 {
  color: #000000;
  display: inline-block;
  float: none;
  font-family: poppins;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin: 0;
  text-transform: uppercase;
  vertical-align: text-bottom;
}
.subtotal-titles > span {
  color: #000000;
  float: right;
  font-family: poppins;
  font-size: 15px;
  font-weight: 700;
  line-height: inherit;
}
.cart-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 15px;
}
.mini-cart-btns .cart-btns a {
  background: #fd6500 none repeat scroll 0 0;
  border: 2px solid #fd6500;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  font-family: poppins;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 36px;
  padding: 0 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.mini-cart-btns .cart-btns a:hover {
  background: #333;
  border: 2px solid #333;
}

.product-container img {
  width: 350px;
  padding-top: 15px;
  padding-left: 30px;
}

.page-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-container{
  margin: 10px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.description {
  padding: 2px 16px;
}


.btn_btn-primary {
  background-color: #fff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: black;
  border: 2px solid #fd6500; /* Green */
}

.ratings {
  background-color: #fff;
  padding: 54px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px #E0E0E0
}

.product-rating {
  font-size: 50px
}

.stars i {
  font-size: 18px;
  color: #fd6500
}

.rating-text {
  margin-top: 10px
}
.vendedor-text a {
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
  color: #fd6500;
}

.coupon-accordion h3:before {
  color: #80b452;
  content: "î€¹";
  display: inline-block;
  font-family: simple-line-icons;
  left: 1.5em;
  position: absolute;
  top: 1em;
}
.coupon-accordion > h3 {
  background: #f6f6f6 none repeat scroll 0 0;
  border-top: 3px solid #80b452;
  color: #515151;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 2em;
  padding: 1em 2em 1em 3.5em;
  position: relative;
  text-transform: capitalize;
}
.coupon-accordion h3 span.coupon {
  color: #000;
  cursor: pointer;
}
.coupon-accordion h3 span.coupon:hover {
  color: #80B452;
}
.login-Register-info {
  margin-bottom: 30px;
}
.customer-login-register > h3 {
  line-height: 24px;
  margin-bottom: 30px;
}
.coupon-content {
  display: none;
}
.coupon-info p.coupon-input {
  margin: 0 0 10px;
}
.coupon-info p.form-row-first{
  float: left;
  width: 47%;
}
.coupon-info p.form-row-last {
  float: right;
  width: 47%;
}
.coupon-info p.coupon-input > label {
  display: block;
  line-height: 2;
  margin-bottom: 5px;
}
.coupon-input > input,.checkout-coupon > input,.single-form-row > input,.single-form-row textarea {
  border: 1px solid #e5e5e5;
  height: 42px;
  padding: 0 0 0 10px;
  width: 100%;
}
.single-form-row textarea {
  height: 100px;
  padding: 10px;
  line-height: 1.5;
}
.coupon-input .required {
  color: #ff0000;
}
.coupon-info .button-login,.login-Register-info .button-login{
  margin: 5px 10px 0 0;
}
.coupon-info label span,.login-Register-info label span {
  margin-left: 5px;
}
.checkout-coupon {
  margin: 0;
}
.checkout-coupon > input {
  width: auto;
}
.checkout-coupon .button-apply-coupon {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  line-height: 42px;
  margin-left: 5px;
  padding: 0 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.checkout-coupon .button-apply-coupon:hover {
  background: #80B452 none repeat scroll 0 0;
}
.nice-select {
  float: inherit;
}
.account-create .creat-pass {
  color: #aa0000;
}
.account-create input.input-text {
  border-color: #aa0000;
}
.account-create,.ship-box-info {
  display: none;
}
.login-Register-info .button-login {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.login-Register-info .button-login:hover{
  background: #80B452;
}
.lost-password {
  float: right;
  margin: 12px 0 0;
  color: #E64545;
}
.coupon-accordion .button-login {
  background: #333333 none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  padding: 0 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.coupon-accordion .button-login:hover {
  background: #80B452;
}
.login-register-area {
  padding: 60px 0 30px;
}
.checkout-page .lost-password {
  float: inherit;
}
/*-- checkbox-form --*/
.checkout-area h3.shoping-checkboxt-title {
  border-bottom: 1px solid #e7e4dd;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: none;
  width: 100%;
}
.checkbox-form .single-form-row {
  margin: 0 0 30px;
}
.single-form-row .required {
  border: 0 none;
  color: #ff0000;
  font-weight: 700;
  cursor: help;
}
.checkbox-form .nice-select{
  border-radius: 0;
}
.single-form-row.checkout-area {
  margin-bottom: 5px;
}
table.checkout-review-order-table {
  width: 100%;
}
.checkout-review-order-table thead th,.checkout-review-order-table tbody td,
.checkout-review-order-table tfoot tr th,.checkout-review-order-table tfoot tr td {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 1px solid #dcd8ce;
  border-right: medium none;
  border-top: medium none;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}
.checkout-review-order-table tfoot tr td {
  font-weight: 700;
}
.checkout-review-order-table tfoot tr.order-total td,.checkout-review-order-table tfoot tr.order-total th {
  border-bottom: medium none;
  font-size: 18px;
}
.checkout-review-order-table tfoot tr.order-total td span {
  color: #ff0000;
}
.payment_methods {
  margin-top: 15px;
}
.payment_methods > p {
  font-size: 15px;
  margin: 0;
}
.payment_methods label {
  font-size: 15px;
  margin: 0;
}
.checkout-review-order {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 30px;
}
.checkout-payment .button-continue-payment {
  background: #000 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  height: 40px;
  margin-top: 30px;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.checkout-payment .button-continue-payment:hover {
  background: #ff0000;
}
.mt-30{
  margin-top: 30px;
}