/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Poppins:300,400,500,600,700,800');

/* style*/
a { -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
    ;text-decoration:none;color: #2c2c2c;
  }
a:hover {
  color: #fd6500;
  text-decoration: none;
  }

/**/
.header-area {
    padding-bottom: 5px;
  }
  .bg-gray{
    background: #F3F3F3;
  }
.logo {
    margin-top: 10px;
    margin-bottom:10px;
  }
.header-main-content {
    justify-content: flex-end;
  }
.header-main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  }

.main-menu-area li {
    display: inline-block;
    position: relative;
  }  

  .main-menu-area ul > li > a {
    color: #000000;
    display: block;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    padding: 40px 15px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .main-menu-area ul > li:first-child > a{padding-left: 0;}
  .main-menu-area ul > li:hover a {
    color: #fd6500;
    }


  .main-menu ul li ul.sub-menu.no_mega_menu {
     background: #000000 none repeat scroll 0 0;
     border-top: 0 none;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
     opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     padding: 20px;
     position: absolute;
     text-align: left;
     top: 110px;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     visibility: hidden;
     width: 225px;
     z-index: 9999;
    }

    .main-menu-area ul > li .sub-menu{
      background: #000000 none repeat scroll 0 0;
      border-top: 0 none;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      padding: 20px;
      position: absolute;
      text-align: left;
      top: 110px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      visibility: hidden;
      width: 225px;
      z-index: 9999;
    }

    

  .main-menu-area ul > li:hover .sub-menu{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    top: 100%;
  }



  .main-menu-area ul > li .sub-menu > li {
    padding: 5px 20px;
    position: relative;
    display: block;
  }
  .main-menu-area ul > li .sub-menu > li a {
    border: medium none;
    color: #ffffff;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0;
    text-transform: initial;
  }
  .main-menu-area ul > li .sub-menu > li a:hover {
    color: #fd6500;
  }


.mfain-menu-area ul > li > a {
    padding: 40px 10px;
  } 











.right-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 35px ;
  }



.right-box {
    margin-top: 34px;
  }  
.top-login-inner > a {
    font-size: 14px;
    line-height: 34px;
  }
  .top-login-inner > a i {
    font-size: 16px;
  }
.page-foot {
    color: #9b9b9b;
  }
.letter{
  color: #fd6500;
}
.text-left {
		text-align: left;
	}
.bg-gray-darker {
    background: #23201e;
    fill: #23201e;
  }
.footer-area {
    padding-bottom: 20px;
    margin-top: 0px;
  }
.section-area{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*user-register*/
.register-area h2 {
  font-size: 21px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.register-area .customer-login {
  border: 1px solid #d3ced2;
  border-radius: 0px;
  margin: 2em 0;
  padding: 20px;
  text-align: left;
}
.register-area .form-row label {
  color: #333333;
  display: block;
  font-family: poppins;
  line-height: 1;
  margin: 0 0 10px;
}
.register-area .form-row label .required {
  color: #ff0000;
}
.form-row input {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  height: 42px;
  padding: 0 0 0 10px;
  width: 100%;
}
.submit-button {
  background: #fd6500 none repeat scroll 0 0;
  border: medium none;
  border-radius: 100px;
  color: #ffffff;
  display: inline-block;
  font-family: poppins;
  font-weight: 400;
  line-height: 15px;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.submit-button:hover {
  background: #000 none repeat scroll 0 0;
}

.section-1{
	padding-top: 40px;
	padding-bottom: 20px;
  text-align: center;
}

.text-center {
	text-align: center;
}
.text-italic {
	font-style: italic;
}


/*banner*/

.bg-img-1{
	background-size: cover;
}
.bg-img-1{
background-image: url("../img/image7.jpg");
	background-attachment: fixed;
}
.parallax-container {
	position: relative;
	overflow: hidden;
}
.text-italic2 {
	font-style: italic;
  text-align: center;
  color: #e5e5e5;
  font-size: 50px;
  font-weight: 500;
}
.banner{
  margin-top: 200px;
  margin-bottom: 200px;
}
.strong{
  font-weight: 500;
}

.img-circle {
	border-radius: 50%;
}

.team-description{
  margin-top: 5px;
}
.team-description h6{
  font-weight: bold;
  font-size: 20px;
}